name: jzero-ci

on:
  push:
    paths-ignore:
      - 'docs/**'
      - '**.md'
  pull_request:

jobs:
  golangci:
    name: ci
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v6
        with:
          go-version: '1.24.3'

      - name: Install Tool
        run: |
          cd cmd/jzero
          go install
          jzero check

      - name: format go
        run: |
         jzero format -d --git-change=false 

      - uses: actions/checkout@v5
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          working-directory: ${{ matrix.workdir }}
          skip-go-installation: true
          skip-pkg-cache: true
          
      - name: run test case
        run: |
          go test ./...