name: goreleaser-jzero

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.22.1'

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v4
        with:
          distribution: goreleaser
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}

#      - name: Log in to Docker Hub
#        uses: docker/login-action@v2
#        with:
#          username: ${{ secrets.DOCKER_USERNAME }}
#          password: ${{ secrets.DOCKER_PASSWORD }}

#      - name: Get version
#        id: get_version
#        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}

#      - name: Docker build and push
#        run: |
#          docker build -t jaronnie/gvm:${{ steps.get_version.outputs.VERSION }} .
#          docker push jaronnie/gvm:${{ steps.get_version.outputs.VERSION }}
#          docker tag jaronnie/gvm:${{ steps.get_version.outputs.VERSION }} jaronnie/gvm:latest
#          docker push jaronnie/gvm:latest
#
#          docker build -t jaronnie/gvm:${{ steps.get_version.outputs.VERSION }}-arm64 -f Dockerfile-arm64 .
#          docker push jaronnie/gvm:${{ steps.get_version.outputs.VERSION }}-arm64
#          docker tag jaronnie/gvm:${{ steps.get_version.outputs.VERSION }}-arm64 jaronnie/gvm:latest-arm64
#          docker push jaronnie/gvm:latest-arm64