name: goreleaser-jzero

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.3'

      - name: Get version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}

      - name: release jzero cmd
        run: |
          go install github.com/jaronnie/grum@latest
          GITHUB_TOKEN=${{ secrets.ACCESS_TOKEN }} grum
          git tag cmd/jzero/${{ steps.get_version.outputs.VERSION }}
          git push origin cmd/jzero/${{ steps.get_version.outputs.VERSION }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64, linux/arm64
          push: true
          tags: jaronnie/jzero:latest,jaronnie/jzero:${{ steps.get_version.outputs.VERSION }}

      - name: Log in to ALIYUN
        uses: docker/login-action@v3
        with:
          registry: registry.cn-hangzhou.aliyuncs.com
          username: ${{ secrets.ALIYUNHUB_USERNAME }}
          password: ${{ secrets.ALIYUNHUB_TOKEN }}

      - name: Docker build and push
        uses: docker/build-push-action@v6
        with:
          registry: registry.cn-hangzhou.aliyuncs.com
          context: .
          platforms: linux/amd64, linux/arm64
          push: true
          tags: registry.cn-hangzhou.aliyuncs.com/jaronnie/jzero:latest,registry.cn-hangzhou.aliyuncs.com/jaronnie/jzero:${{ steps.get_version.outputs.VERSION }}

      - name: Log in to ghcr
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: jzero-io
          password: ${{ secrets.ACCESS_TOKEN }}

      - name: Docker build and push
        uses: docker/build-push-action@v6
        with:
          registry: ghcr.io
          context: .
          platforms: linux/amd64, linux/arm64
          push: true
          tags: ghcr.io/jzero-io/jzero:latest,ghcr.io/jzero-io/jzero:${{ steps.get_version.outputs.VERSION }}