name: goreleaser-jzero

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24.3'

      - name: Get version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to ghcr
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: jzero-io
          password: ${{ secrets.ACCESS_TOKEN }}

      - name: Docker build and push
        uses: docker/build-push-action@v6
        with:
          registry: ghcr.io
          context: .
          platforms: linux/amd64, linux/arm64
          push: true
          tags: ghcr.io/jzero-io/jzero:latest,ghcr.io/jzero-io/jzero:${{ steps.get_version.outputs.VERSION }}

  tag_cmd_jzero:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: main
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24.3'
      - name: Get version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
      - name: release jzero cmd
        run: |
          go install github.com/jaronnie/grum@latest
          GITHUB_TOKEN=${{ secrets.ACCESS_TOKEN }} grum
  
          git config user.name "dependabot[bot]"
          git config user.email "49699333+dependabot[bot]@users.noreply.github.com"
  
          cd cmd/jzero
          go get github.com/jzero-io/jzero@${{ steps.get_version.outputs.VERSION }}
          go mod tidy
          sed -i 's/version = ".*"/version = "${{ steps.get_version.outputs.VERSION }}"/g' main.go
          git add go.mod go.sum main.go
          git diff-index --quiet HEAD || git commit -m "chore(jzero): update jzero version"
          git push origin main
          git tag cmd/jzero/${{ steps.get_version.outputs.VERSION }}
          git push origin cmd/jzero/${{ steps.get_version.outputs.VERSION }}