name: jzero-upload-examples-ci

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - '**.md'

jobs:
  upload:
    name: upload
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v6
        with:
          go-version: '1.24.3'

      - name: Install Jzero and Grum
        run: |
          cd cmd/jzero
          go install
          go install github.com/jaronnie/grum@latest

      - name: upload examples
        run: |
          rm -rf examples
          GITHUB_TOKEN=${{ secrets.ACCESS_TOKEN }} grum clone https://github.com/jzero-io/examples
          cd examples
          git config user.name "dependabot[bot]"
          git config user.email "49699333+dependabot[bot]@users.noreply.github.com"
          rm -rf simpleapi
          jzero new simpleapi
          cd simpleapi
          jzero add api user
          jzero gen
          go get github.com/jzero-io/jzero@${{ github.sha }}
          go mod tidy
          jzero new helloworld --serverless --mono
          cd plugins/helloworld
          jzero add api helloworld
          jzero gen
          go get github.com/jzero-io/jzero@${{ github.sha }}
          go mod tidy
          cd ../..
          jzero serverless build
          go mod tidy
          jzero gen swagger
          jzero format --git-change=false
          go run main.go version
          git add .
          git diff-index --quiet HEAD || git commit -m "chore(simpleapi): update simpleapi"
          git push -f
          
          cd ..
          
          rm -rf simpleapi-with-model-redis
          jzero new simpleapi-with-model-redis --features model,redis
          cd simpleapi-with-model-redis
          jzero add api user
          jzero add sql user
          jzero gen
          go get github.com/jzero-io/jzero@${{ github.sha }}
          go mod tidy
          jzero gen swagger
          jzero format --git-change=false
          go run main.go version
          git add .
          git diff-index --quiet HEAD || git commit -m "chore(simpleapi-with-model-redis): update simpleapi-with-model-redis"
          git push -f
          
          cd ..
          
          rm -rf simplegateway
          jzero new simplegateway --frame gateway
          cd simplegateway
          jzero add proto user
          jzero gen
          go get github.com/jzero-io/jzero@${{ github.sha }}
          go mod tidy
          jzero new helloworld --frame gateway --serverless --mono
          cd plugins/helloworld
          jzero add proto helloworld
          jzero gen
          go get github.com/jzero-io/jzero@${{ github.sha }}
          go mod tidy
          cd ../..
          jzero serverless build
          go mod tidy
          jzero gen swagger
          jzero gen zrpcclient
          jzero format --git-change=false
          go run main.go version
          git add .
          git diff-index --quiet HEAD || git commit -m "chore(simplegateway): update simplegateway"
          git push -f
          
          cd ..
          
          rm -rf simplegateway-with-model-redis
          jzero new simplegateway-with-model-redis --frame gateway --features model,redis
          cd simplegateway-with-model-redis
          jzero add proto user
          jzero add sql user
          jzero gen
          go get github.com/jzero-io/jzero@${{ github.sha }}
          go mod tidy
          jzero gen swagger
          jzero gen zrpcclient
          jzero format --git-change=false
          go run main.go version
          git add .
          git diff-index --quiet HEAD || git commit -m "chore(simplegateway-with-model-redis): update simplegateway-with-model-redis"
          git push -f
          
          cd ..
          
          rm -rf simplerpc
          jzero new simplerpc --frame rpc
          cd simplerpc
          jzero add proto user
          go get github.com/jzero-io/jzero@${{ github.sha }}
          go mod tidy
          jzero new helloworld --frame rpc --serverless --mono
          cd plugins/helloworld
          jzero add proto helloworld
          jzero gen
          go get github.com/jzero-io/jzero@${{ github.sha }}
          go mod tidy
          cd ../..
          jzero serverless build
          go mod tidy
          jzero gen swagger
          jzero gen zrpcclient
          jzero format --git-change=false
          go run main.go version
          git add .
          git diff-index --quiet HEAD || git commit -m "chore(simplerpc): update simplerpc"
          git push -f
          
          cd ..
          
          rm -rf simplerpc-with-model-redis
          jzero new simplerpc-with-model-redis --frame rpc --features model,redis
          cd simplerpc-with-model-redis
          jzero add proto user
          jzero add sql user
          jzero gen
          go get github.com/jzero-io/jzero@${{ github.sha }}
          go mod tidy
          jzero gen swagger
          jzero gen zrpcclient
          jzero format --git-change=false
          go run main.go version
          git add .
          git diff-index --quiet HEAD || git commit -m "chore(simplerpc-with-model-redis): update simplerpc-with-model-redis"
          git push -f